<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>AdventurerMaker</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a><a id="adventurerButton" href="maker">Adventurers</a><a id="spellButton" href="spellMaker">Spells</a><a id="weaponButton" href="weaponMaker">Weapons</a><a id="missionsButton" href="missions">Missions</a><a id="barracksButton" href="barracks">Barracks</a><a id="passwordButton" href="changePassword">Change Password</a></div>
  </nav>
  <section id="make">
  </section>
  <section id="data">
  </section>
  <div id="adventurerMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="adventurer" src="assets/img/adventurer.png" alt="adventurer"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>