html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #5E4E42;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #5E4E42;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #7F6A59;
}

.empty{
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 3.0em;
    font-weight: bold;
}

.adventurerForm {
    border: 2px solid #705D4E;
    height: 35px;
    width: 100%;
    margin-top:0px;
    margin: 0 auto;
    padding-top:10px;
    background-color: #5E4E42;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.adventurerForm label {
    display: inline-block;
    width: 80px;
    margin-left: 5px;
    font-size: 1.2em;
    float: left;
    color: white;
}

#statLabel{
    display: inline-block;
    width: 100px;
    margin-left: 5px;
    font-size: 1em;
    float: left;
    color: white;
}

.adventurerForm select {
    margin-left: 10px;
    margin-right: 10px;
}

.adventurerForm input[type=text] {
    float:left;
}

.makeAdventurerSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 120px;
    background-color: #5E4E42;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeAdventurerSubmit:link, .makeAdventurerSubmit:visited, .makeAdventurerSubmit:hover, .makeAdventurerSubmit:active {
    color: white;
}

.makeAdventurerSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #705D4E;
}

.spellForm {
    border: 2px solid #705D4E;
    height: 35px;
    width: 1000px;
    margin-top:0px;
    padding-top:10px;
    background-color: #5E4E42;
    margin: 0 auto;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.spellForm label {
    display: inline-block;
    width: 100px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.spellForm select {
    margin-left: 10px;
    margin-right: 10px;
}

.spellForm input[type=text] {
    float:left;
}

.makeSpellSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 120px;
    background-color: #5E4E42;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.makeSpellSubmit:link, .makevSubmit:visited, .makeSpellSubmit:hover, .makeSpellSubmit:active {
    color: white;
}

.makeSpellSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #705D4E;
}

.weaponForm {
    border: 2px solid #705D4E;
    height: 35px;
    width: 100%;
    margin-top:0px;
    padding-top:10px;
    background-color: #5E4E42;
    margin: 0 auto;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.weaponForm label {
    display: inline-block;
    width: 100px;
    margin-left: 10px;
    font-size: 1em;
    float: left;
    color: white;
}

.weaponForm select {
    margin-left: 10px;
    margin-right: 10px;
}

.weaponForm input[type=text] {
    float:left;
}

.makeWeaponSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 120px;
    background-color: #5E4E42;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.makeWeaponSubmit:link, .makevSubmit:visited, .makeSpellSubmit:hover, .makeSpellSubmit:active {
    color: white;
}

.makeWeaponSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #705D4E;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #5E4E42;
    border-radius: 2px;
    border-color: #705D4E;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #705D4E;
}

.barracksForm {
    border: 2px solid #705D4E;
    height: 35px;
    width: 1000px;
    margin-top:0px;
    padding-top:10px;
    background-color: #5E4E42;
    margin: 0 auto;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.barracksForm label {
    display: inline-block;
    width: 100px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.barracksForm select {
    float:left;
    margin-left: 10px;
    margin-right: 10px;
}

.barracksForm input[type=text] {
    float:left;
}

.goAdventureSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 120px;
    background-color: #5E4E42;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.goAdventureSubmit:link, .makevSubmit:visited, .makeSpellSubmit:hover, .makeSpellSubmit:active {
    color: white;
}

.goAdventureSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #705D4E;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #5E4E42;
}

#adventurerMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#adventurerMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 150px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#adventurer {
    z-index: 225;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#adventurers {
    width: 40%;
    min-width: 400px;
    border: 2px solid #5E4E42;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.adventurer {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #5E4E42;
    border-radius: 4px;
    background-color: #5E4E42;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.adventurer:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #E5BEA1;
}

img.adventurerFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.adventurerName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 35px;
    font-size: 1.5em;
}

h3.adventurerClass {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 35px;
    font-size: 1.5em;
}


h3.adventurerLevel {
    float:left;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 20px;
    font-size: 1.5em;
}

.levelButton {
    width: 75px;
    font-size: 1em;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.adventurer:first-child {
    margin-top: 10px;
}

.adventurer:last-child {
    margin-bottom:10px;
}

h3.weaponName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 35px;
    font-size: 1.5em;
}

h3.weaponType {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 35px;
    font-size: 1.5em;
}

h3.weaponRarity {
    float:left;
    width: 150px;
    font-weight: bold;
    padding-left: 35px;
    font-size: 1.5em;
}

h3.weaponDamage {
    float:left;
    width: 150px;
    font-weight: bold;
    padding-left: 35px;
    font-size: 1.5em;
}

h3.weaponDescription {
    float:left;
    width: 400px;
    font-weight: bold;
    padding-left: 35px;
    font-size: 1.5em;
}